name: PR

on:
  pull_request:
    branches: [main]

jobs:
  check-quarto:
    name: Check Quarto
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Check Presentation
        working-directory: ./presentation
        run: |
          set -o pipefail
          quarto render presentation.qmd 2>&1 | tee output.log
          
          if grep -qiE "warning|error" output.log; then
            grep -iE "warning|error" output.log | while read -r line ; do echo "::error::$line"; done
            exit 1
          fi
        